<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="studentA" class="com.example.aoptest.AOPtest.StudentA" />
    <bean id="studentB" class="com.example.aoptest.AOPtest.StudentB" />
    <bean id="myAdvice" class="com.example.aoptest.AOPtest.MyAspect" />

    <bean class="org.springframework.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator" />

    <bean id="myAdvisor" class="org.springframework.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="advice" ref="myAdvice"/>
        <property name="expression" value="execution(public * *(..))" />
    </bean>
</beans>