<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" layout:decorate="~{layout}"
      xmlns:layout="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>join</title>
    <link rel="stylesheet" href="/resources/css/signup.css">
</head>
<body>
<div class="login-wrap" layout:fragment="content">
    <div class="login-html">
        <div class="login_logo">
            <img src="/resources/img/common/kt-is-logo-c.png" alt="logo">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">회원가입</label>
        </div>
        <input id="tab-2" type="radio" name="tab" class="sign-up"><label for="tab-2" class="tab">Sign Up</label>
        <div class="login-form">
            <form th:action="@{/signup}" th:object="${userCreateForm}" method="post">
                <div class="group">
                    <input id="username"name="username" type="text" th:field="*{username}" class="input" placeholder="아이디">
                </div>
                <div class="group">
                    <input id="password1" type="password" class="input" name="password1" placeholder="비밀번호"th:field="*{password1}">
                </div>
                <div class="group">
                    <input id="password2" type="password" class="input" name="password2" placeholder="비밀번호 재확인"th:field="*{password2}">
                </div>
                <div class="group-group">
                    <div class="group">
                        <input id="lastName" type="text" class="input" name="lastName" placeholder="성"th:field="*{lastName}">
                    </div>
                    <div class="group">
                        <input id="firstName" type="text" class="input" name="firstName" placeholder="이름"th:field="*{firstName}">
                    </div>
                </div>
                <div class="group">
                    <input id="email" type="text" class="input" name="email" placeholder="Email"th:field="*{email}">
                </div>
                <div class="group">
                    <input id="department" type="text" class="input" name="department" placeholder="소속부서"th:field="*{department}">
                </div>
                <div class="group">
                    <input id="companyId" type="text" class="input" name="companyId" placeholder="회사ID"th:field="*{companyId}">
                </div>
                <div class="group">
                    <label for="staff" class="staff_input">직원여부</label>
                    <input id="staff" type="checkbox" class="statff_input" name="status"th:field="*{staff}">
                </div>
                <div class="group">
                    <button type="submit" class="button">회원가입</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="login_tit">
    <div class="fade_in">
        <h1>기업회원으로 가입하고 상담데이터를 탐색해보세요.</h1>
        <p>데이터를 다양한 차트로 시각화하여 인사이트를 발견하는데 도움이 됩니다. <br>
            또한, 필터링 기능과 상호작용 가능한 그래프로 데이터 탐색을 더욱 효과적으로 만들어줍니다.</p>
    </div>
</div>

</body>
</html>
